<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- As 3 meta tags acima *devem* vir em primeiro lugar dentro do `head`; qualquer outro conteúdo deve vir *após* essas tags -->
    <title>Dev Sem Café</title>

    <link href='https://fonts.google.com/specimen/Shadows+Into+Light' rel='stylesheet'>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim e Respond.js para suporte no IE8 de elementos HTML5 e media queries -->
    <!-- ALERTA: Respond.js não funciona se você visualizar uma página file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/estilos.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">

      <header class="titulo-principal">
        <img class="foto-home" src="images/logotipo.png" alt="logo do dev sem café">
        
        <ul class="palavras-home">
          <li class="palavra-home eficiencia">Café</li>
          <li class="palavra-home boas-praticas">Café</li>
          <li class="palavra-home codigo-limpo">Café</li>
          <li class="palavra-home css3">Café</li>
          <li class="palavra-home html5">Café</li>
          <li class="palavra-home javascript">Café</li>
          <li class="palavra-home acessibilidade">Café</li>
          <li class="palavra-home responsivo">Café</li>
          <li class="palavra-home otimizacoes">Café</li>
          <li class="palavra-home agilidade">Café</li>
          <li class="palavra-home design">Café</li>
        </ul>
      </header>

      <hr class="featurette-divider">

      <main>
        <section >    
          <div class="col-lg-8">
            Depois de quantas xícaras o café já não faz efeito? O Blog Dev sem café veio para te dar aquela energia que 
            faltava. Temos como intuito ser o parceiro diário do profissionais, estudantes e aspirantes a programadores.  
            <br>
            <br>
            Temos como pilares a Identificação, Informação e Life Style. 
            <br>
            <br>
            Possuímos como objetivo acompanhar, registrar 
            e identificar como a tecnologia e técnicas do mundo de hoje podem impactar no nosso dia a dia e no 
            desenvolvimento pessoal e profissional. 
            <br>
            <br>
            Geramos um conteúdo atual e assertivo para a vida dos desenvolvedores, 
            que seguem um estilo de vida  desbravador, assuntos modernos e sempre querem se manter atualizados. 
            <br>
            <br>
            <Seja um Dev em eterno desenvolvimento e desenvolva-se com a gente!> 
          </div>

          <div class="col-lg-4">
		        <form id="formCadastro" action="documents/Tudo o Que Você Precisa Saber Para Organizar Um Hackaton.pdf">
			        <h2 class="form-signin-heading">Cadastre-se, é de graça!</h2>
              <div class="form-group">
                <label for="inputNome" class="sr-only">Nome</label>
                <input id="inputNome" class="form-control" placeholder="Nome" required>
              </div>
			  
              <div class="form-group">
                <label for="inputSobrenome" class="sr-only">Sobrenome</label>
			          <input id="inputSobrenome" class="form-control" placeholder="Sobrenome" required>
              </div>

              <div class="form-group">
			          <label for="inputEmail" class="sr-only">Email</label>
			          <input type="email" id="inputEmail" class="form-control" placeholder="Email" required>
			        </div>

              <div class="form-group">
			          <label for="inputOcupacao" class="sr-only">Ocupação</label>
			          <input id="inputOcupacao" class="form-control" placeholder="Ocupação" required>
			        </div>
			        
              <button class="btn btn-lg btn-primary btn-block" onclick="gravar()">Continuar</button>
		        </form>
          </div>
        </section>

        <hr class="featurette-divider">

        <section>
            <%- partial ('posts/show') %>
        </section>
      </main>
      
      
	</div>
	
  <footer>
        <div class="col-lg-12 footer">
          <h2>Vamos tomar um café?</h2>
        </div>
    </footer>

    <!-- jQuery (obrigatório para plugins JavaScript do Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Inclui todos os plugins compilados (abaixo), ou inclua arquivos separadados se necessário -->
    <script src="js/bootstrap.min.js"></script>

    <script src="js/codigos.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-103050403-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>