@font-face {
    font-family: "Shadows Into Light";
    src: url(https://fonts.google.com/specimen/Shadows+Into+Light) format("truetype");
}

body {
    font-size: 120%;
    line-height: 1.5;
    display: block;
    flex-wrap: wrap;
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}

form {
    border: 1px solid #CCC;
    border-radius: 0.5em;
    padding: 1em;
    width: 60%;
    margin: auto;
}

.foto-capa {
    width: 100%;
}

#cadastroPopUp {
    width: 100%;
    border: none;
}

h1 {
    font-size: 3em;
    color: black;
}

h2 {
    font-size: 1.5em;
}

.footer {
    background-color: #000;
    color: #FFF;
    margin-top: 1em;
    padding: 0.5em;
    font-size: 1.5em;
    text-align: center;
}

main a {
    color: #851944;
}

main a:hover,
main a:focus,
footer a:focus,
footer a:hover {
    color: red;
}

main p {
    text-align: justify;
    margin: 1em 0;
}

main {
    flex-grow: 1;
    width: 100%;
    padding-bottom: 0;
    float: none;
}

html,body {
    overflow-x: hidden;
    height: 100%;
}

/* Cafés do header */
.eficiencia {
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.boas-praticas {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}
.codigo-limpo {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}
.css3 {
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}
.html5 {
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.javascript {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}
.acessibilidade {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}
.responsivo {
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}
.otimizacoes {
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}
.agilidade {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}
.design {
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
/* */

.bloco-post{
    margin: 0 0;
    width: 100%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.form-signin-heading{
    margin-bottom: 15px;
}

.titulo-blog {
    display: block;
    text-align: center;
    bottom: 0;
}

.bloco-cadastro {
    background-color: white;
}

.bloco-noticia {
    padding: 15px;
}

.foto-noticia {
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    display: block;
    margin: 0 0 0;
    padding: 0;
}

.titulo-principal {
    text-align: center;
    color: #FFF;
    padding: 1rem;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: relative;
}

.dica-artigo{
    background-color: #f6d365;
    padding: 1.2em;
    border-radius: 1em;
}

.foto-home {
    height: 300px;
    box-sizing: border-box;
    margin-bottom: 0px;
}

.navbar .foto-home{
    height: 100%;
    margin: auto;
}

#nav-header{
    margin: 20px 0 0; 
}

#nav-header .nav > li > a{
    padding: 8px 10px;    
    font-size: 18px;
    cursor: pointer;
}

.nav > li{
    padding: 23px 15px;
}

.navbar-nav {
    float: none;
    margin: 7.5px -15px;
    display: inline-block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
}

.container-fluid{
    text-align: center;
}

.navbar-brand{
    padding: 0;
    width: 30%;
    height: 80px;
    position: absolute;
}

#cadastroPagina {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    float: none;
}

.foto-landing {
    width: 100%;
}

.palavras-home {
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

.palavra-home {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: #f57302;
    position: absolute;
    -webkit-animation: aparece 2s;
            animation: aparece 2s;
}

.post-info {
    font-size: 80%;
}

@media screen and (min-width:1200px) {
    form {
        width: 100%;
    }

    #cadastroFixo {
        margin-top: 15px;
    }
}

@media screen and (max-width:800px) {

    .foto-noticia {
        width: 100%;
    }

    h1 {
        font-size: 2.3em;
    }

    form {
        width: 100%;
    }

    .responsivo, .css3, .agilidade, .design, .html5 {
        display: none;
    }

    .javascript {
        left: 80%;
    }

    .acessibilidade {
        left: 30%;
    }

    .eficiencia {
        transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.10);
        left: 65%;
    }

    .codigo-limpo {
        left: 20%;
        transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.20);
    }
}

@media screen and (max-width:580px){
    .navbar-brand{
        width: 100%;
        position: relative;
    }

    .nav > li {
        padding: 13px 10px;
    }
}