      <div class="col-lg-12">
        <img class="foto-capa" src="../../images/acervo.jpg" alt="Logo Dev Sem Café">
      </div>
          
      <div class="col-lg-12">
        <hr class="featurette-divider">
      </div>

      <section>
        <div class="col-lg-12">
          <a href="/documents/Tudo o Que Você Precisa Saber Para Organizar Um Hackaton.pdf">
            <img class="foto-landing" src="../../images/landing_hackathon.jpg" alt="whitepaper hackathon">
          </a>
        </div>
            
        <div class="col-lg-12">
          <a href="/documents/Internet das Coisas.pdf">
            <img class="foto-landing" src="../../images/landing_iot.jpg" alt="whitepaper iot">
          </a>
        </div>

        <div class="col-lg-12">
          <a href="/documents/Machine Learning.pdf">
            <img class="foto-landing" src="../../images/landing_machine_learning.jpg" alt="whitepaper machine learning">
          </a>
        </div>

        <div class="col-lg-12">
          <a href="/documents/Inteligência Artificial.pdf">
            <img class="foto-landing" src="../../images/landing_inteligencia.jpg" alt="whitepaper inteligencia artificial">
          </a>
        </div>
      </section>