        <div id="fotoCadastrar" class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <img class="foto-noticia" src="../../images/cadastre.jpg" alt="Logo Dev Sem Café">
        </div>

        <div id="cadastroPagina" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bloco-cadastro">
            <form id="formCadastro" onsubmit="return false;">
              <h2 class="form-signin-heading">CADASTRE-SE e GANHE materiais EXCLUSIVOS!</h2>
              <div class="form-group">
                <label for="inputNomePagina" class="sr-only">Nome</label>
                <input id="inputNomePagina" class="form-control" placeholder="Nome" required>
              </div>
            
              <div class="form-group">
                <label for="inputSobrenomePagina" class="sr-only">Sobrenome</label>
                <input id="inputSobrenomePagina" class="form-control" placeholder="Sobrenome" required>
              </div>

              <div class="form-group">
                <label for="inputEmailPagina" class="sr-only">Email</label>
                <input type="email" id="inputEmailPagina" class="form-control" placeholder="Email" required>
              </div>
            
              <button id="btnCadastrarPagina" class="btn btn-lg btn-primary btn-block">Acessar</button>
            </form>
        </div>

        <script src="../js/cadastrar.js"></script>