          <div class="col-lg-12">
            <img class="foto-capa" src="../../images/sobre.jpg" alt="Logo Dev Sem Café">
          </div>

          <hr class="featurette-divider">
          
          <div class="col-lg-12">
            Depois de quantas xícaras o café já não faz efeito? O Blog Dev sem Café veio para te dar aquela energia 
            que faltava. Temos como intuito ser o parceiro diário dos profissionais, estudantes e aspirantes 
            a programadores.  
            <br>
            <br>
            Temos como pilares a Identificação, Informação e Life Style. 
            <br>
            <br>
            Possuímos como objetivo acompanhar, registrar 
            e identificar como a tecnologia e técnicas do mundo de hoje podem impactar no nosso dia a dia e no 
            desenvolvimento pessoal e profissional. 
            <br>
            <br>
            Geramos um conteúdo atual e assertivo para a vida dos desenvolvedores, 
            que seguem um estilo de vida  desbravador, assuntos modernos e que sempre querem se manter atualizados. 
            <br>
            <br>
            &lt;Seja um Dev em eterno desenvolvimento e desenvolva-se com a gente!> 
          </div>