
        <br>
        <!-- <h1 class="titulo-blog">Blog</h1> -->
        <br>
        <div class="bloco-noticia">
          <h1>Sistema operacional da Google para Internet das Coisas</h1>
          
          <img class="foto-noticia" src="images/androidthings.jpg" alt="IoT">
          
          <br>
          Por igor.genuino - Publicado em 23/07/2017
          <br>
          <br>
          Internet das Coisas ou IoT (Internet of Things), vem sendo pauta muito comentada nos setores de tecnologia 
          há anos. De forma simplificada Internet das Coisas se refere a coisas, especialmente objetos do dia-a-dia, 
          que são legíveis, reconhecíveis, localizáveis, endereçáveis e controláveis através da Internet, seja via RFIA, 
          LAN, WI-FI ou outros meios. Internet das Coisas é um conceito amplo e de vasta discussão nos segmentos da 
          tecnologia. Trabalhos com IoT em geral focam em integrar e conectar dispositivos do mundo físico para o mundo 
          virtual de forma inteligente e sem a necessidade do envolvimento humano. Esses dispositivos não precisam ser 
          diretamente ligados à Internet, podendo ser ligados a centrais, Gateways, Hubs, e a partir desse ponto, se 
          conectarem à Internet.
          <br>
          <br>
          A porta de entrada para muitas pessoas ao mundo IoT são placas populares como Raspberry PI, Dragon, entre outras. 
          Cada placa costuma possuir seu próprio sistema operacional, embora existam algumas tentativas de sistemas comuns. 
          Essa grande diversidade de sistemas operacionais para plataformas acaba dificultando atualizações, conexões e 
          dando mais trabalho para desenvolvedores.
          <br>
          <br>
          Recentemente, a Google, que não fabrica placas para IoT, apresentou o Android Things, uma repaginação do 
          Brillo, plataforma baseada em Android para placas que não emplacou. O Android Things roda em placas 
          microprocessadas como o Rapsberry PI e Intel Edson, focando em Hardware simples e com pouca RAM. 
          O Android Things é um sistema operacional que permite desenvolver soluções de IoT com linguagem Android, 
          de forma que o Android Things possua todos os conceitos Android como arquitetura de Threads, comunicação 
          Web Service, conexão Bluetooth, tudo com o desenvolvimento Android.
          <br>
          <br>
          A grande jogada é que qualquer desenvolvedor Android agora pode desenvolver Hardware com mais facilidade 
          utilizando até mesmo o Android Studio, utilizando APIs e serviços da Google. Mesmo com o hardware e sistema 
          operacional já montado, desenvolvedores Android podem contribuir com código acessando o dispositivo com um 
          acesso de mais alto nível, sendo mais User Friendly, com a biblioteca compartilhada e com o Android Studio.
          <br>
          <br>
          Uma grande vantagem é a facilidade da produção do protótipo até o produto final. Subindo o Android Thing na 
          placa, pode-se montar todo o sistema IoT e o próprio sistema operacional ser compatível com serviços Google, 
          como o Android Home. Outra enorme vantagem é o aumento de segurança devido ao sistema operacional ter 
          atualização direta da Google.
          <br>
          <br>
          Através desse artigo, é possível ver um tutorial com o primeiros passos para o uso do Android Things: 
          https://medium.com/android-dev-br/android-things-primeiros-passos-2c98be4be394
          <br>
          <br>
          Será que a Google também será um gigante no mundo IoT? O IoT é um dos protagonistas no crescimento do 
          Big Data, pois cada pequeno dispositivo é capaz de gerar informação. As grandes empresas de tecnologia 
          constantemente apresentam inovações e propostas nas áreas que mais crescem, como o IoT e Big Data . 
          A entrada da Google nesse mercado, trazendo a facilidade e a popularidade da programação para Android 
          pode ser um grande passo para o mercado de IoT.
          <br>
          <br>
          Fonte: https://developer.android.com/things/index.html
          <br>
          <br>
          
          <div class="dica-artigo">
            <p>Gostou? Não deixe de se <a href="#formCadastro">cadastrar</a> para receber artigos mais completos sobre este tema e muito mais ;)</p>
          </div>
        </div>
        <br>
        <div class="bloco-noticia">
          <h1>A Engenharia de Informação no Futebol</h1>
          
          <img class="foto-noticia" src="images/engenharia.png" alt="IoT">
          
          <br>
          Por igor.genuino - Publicado em 23/07/2017
          <br>
          <br>
          Futebol é o esporte que mais atrai olhares de pessoas em todo o mundo.
          <br>
          <br>
          Desde sua profissionalização, a cada ano que passa, inovações e melhorias na prática do esporte surgem: material da bola, chuteira e vestimenta; design da chuteira e dos cravos; material do gramado; estrutura do campo; técnicas de treinamento; entre outras. Para se ter ideia das mudanças, basta olhar um vídeo da copa do mundo de 1970 e comparar com a copa de 2014. É nítida a evolução do esporte, em especial, graças as tecnologias que cercam o esporte.
          <br>
          <br>
          A engenharia da informação, que cresceu muito nos últimos anos, também acompanhou o desenvolvimento do futebol. A FIFA, Federação Internacional de Futebol, vem fomentando tecnologias e inovações com grandes clubes e empresas do segmento da engenharia de informação, visando melhorar o esporte, performance dos times e diminuir os erros humanos associados à partida.
          <br>
          <br>
          A tecnologia GoalControl-4D, que permite saber a localização da bola em tempo real, é um exemplo já aplicado da engenharia de informação em jogos internacionais, sendo decisiva pela primeira vez em junho de 2014 em um jogo entre França e Honduras.
          <br>
          <br>
          Desenvolvida pela empresa alemã GoalControl, o sistema utiliza 14 câmeras de alta velocidade (500 quadros por segundos) espalhadas pelo estádio para filmar e identificar a bola a cada 2 milissegundos. Cabos de fibra óptica enviam as imagens, que são processadas por computadores e mapeiam tridimensionalmente as informações oferecendo velocidade e posição da bola com precisão de 5 milímetros. As informações como decisão da entrada da bola no gol são enviadas para o Smartwatch do árbitro, evitando erros de decisões em tempo real.
          <br>
          <br>
          Outra tecnologia proveniente da área de estudo da engenharia de informação é o sistema de dispositivo de rastreamento e análise de desempenho eletrônico chamado Electronic Performance and Tracking System (EPTS). O EPTS é uma tecnologia usada para monitorar cada jogador por meio de um pequeno colete utilizado por baixo da vestimenta do atleta de forma não invasiva. Os coletes, liberados pela FIFA em partidas em 2015, contém giroscópios, acelerômetros, monitores cardíacos, localizadores GPS, tudo arquitetado em uma compacta e leve eletrônica embarcada de baixa potência, que envia sinais e informações para receptores ao redor do campo. Informações que incluem desempenho físico dos atletas, batimentos cardíacos, posicionamento, informações sobre corridas e pulos podem ser melhor mensuradas, gerando muitos dados para as equipes técnica e física.
          <br>
          <br>
          A tecnologia mais recente em uso é o Video Assistant Referees (VAR). Usado pela primeira vez em 2016, a tecnologia VAR consiste em um conjunto de câmeras acompanhando diversos pontos da partida, onde auxiliares acompanham o jogo e podem informar incidentes ao árbitro principal, que pode rever o lance em um monitor na lateral do campo para tomar decisões mais assertivas.
          <br>
          <br>
          Todas essas tecnologias estão diretamente relacionadas a IoT, eletrônica embarcada, processamento de imagem, algoritmos e a geração de Big Data, trazendo possibilidades para implementação de técnicas analíticas, melhorando cada vez mais as tomadas de decisões dos clubes e da arbitragem. Cada vez mais as equipes contam não apenas com técnicos e educadores físicos, mas também com especialistas da engenharia de informação e cientistas de dados.
          <br>
          <br>
          Fontes:
          <br>
          <br>
          http://football-technology.fifa.com/en/
          <br>
          http://football-technology.fifa.com/en/media-tiles/experiments-with-video-assistant-referees-var/
          <br>
          http://football-technology.fifa.com/en/media-tiles/epts/
          <br>
          http://goalcontrol.de/en/
          <br>
          <br>
          
          <div class="dica-artigo">
            <p>Gostou? Não deixe de se <a href="#formCadastro">cadastrar</a> para receber artigos mais completos sobre este tema e muito mais ;)</p>
          </div>
        </div>